body{
  margin:0px;
  text-align: center;
/*  font-family: serif;*/
  font-family: 'Josefin Sans', sans-serif;
  font-size:  1.5em;
}
h1{
  font-size: 5rem;
  /*font-family: 'Montserrat Alternates', sans-serif;*/
  font-family: 'Sacramento', cursive;
  margin:50px;
  color: #3C8DAD;
  line-height:1em;
}
h2{
  font-size: 2.5rem;/*40px;*/
  color: #01937C;
}
h3{
  color: #11999E;
  /* line-height: 0.5; */

}
hr {
   border-style: dotted none  none;
   height: 0px;
   width: 98%;
   border-color: #B5EAEA;
   border-width: 5px;
   background-color:#B5EAEA;
 }
 p{
   color:#5D534A;
   /* line-height: 0.4 */
 }
 span{
   font-weight: bold;
 }

/***********************************/
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 50px;
}
.top_cloud{
  position: relative;
  left: 20%
}
.bottom_cloud{
  position: absolute;
}
.profile{
  margin-bottom: 50px;
}
/***********************************/
.middle-container{
  background-color: #F9F9F9;
  padding:50px;
}
.profile{
  width: 50%;
  margin: 0px auto 50px auto;
  /* text-align: left; */
}
.usagi {
  width: 22%;
  /* float:left; */
  margin-right: 30px;
  padding-bottom: 30px;
}
.skill-row{
  width: 50%;
  margin: 0px auto 0px auto;
  text-align: left;
}

.skills{
  margin: 50px auto  50px auto;
}

.ugoky {
  text-align: center;
  width: 22%;
  float: right;
  margin-left: 30px;
}
/***********************************/
.contact-me{
  /* width: 50%; */
  margin: 50px auto  0px auto;
}

.sayHello{
  /* text-align: left; */

}


.molingit {
  width: 11%;
/* float: left; */
  margin-right: 30px;

  border: 11px solid #D6D2C4;
   border-radius: 50%;
}

.invitations{
  /* clear:left; */
}
/***********************************/
.bottom-container{
  background-color: #D6D2C4;
  padding:50px;
}

.button_contactMe {
   background: #D6D2C4;
   background-image: -webkit-linear-gradient(top, #D6D2C4, #988951);
   background-image: -moz-linear-gradient(top, #D6D2C4, #988951);
   background-image: -ms-linear-gradient(top, #D6D2C4, #988951);
   background-image: -o-linear-gradient(top, #D6D2C4, #988951);
   background-image: -webkit-gradient(to bottom, #D6D2C4, #988951);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 15px;
   -webkit-box-shadow: 1px 1px 20px 0 #FFFFFF;
   -moz-box-shadow: 1px 1px 20px 0 #FFFFFF;
   box-shadow: 1px 1px 20px 0 #FFFFFF;
   text-shadow: 1px 1px 20px #FFFFFF;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   clear:left;
}

.button_contactMe:hover {
   border: solid #FFFFFF 1px;
   background: #AEE8AE;
   background-image: -webkit-linear-gradient(top, #AEE8AE, #33A244);
   background-image: -moz-linear-gradient(top, #AEE8AE, #33A244);
   background-image: -ms-linear-gradient(top, #AEE8AE, #33A244);
   background-image: -o-linear-gradient(top, #AEE8AE, #33A244);
   background-image: -webkit-gradient(to bottom, #AEE8AE, #33A244);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
      clear:left;
}
